<header class=" bg-slate-800 flex flex-col md:flex-row p-20 gap-3 text-center md:text-left rounded-4xl">
  <div>
    <h1 class="text-4xl font-bold capitalize pb-2">Protect your password</h1>
    <p class=" text-2xl my-4 ">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <button class=" bg-blue-800 px-3 py-2 hover:bg-blue-600">Sign Up</button>
  </div>
  <img class=" w-80 "src="/images/fingerprint.svg" alt="fingerprint image">
</header>